@model List<Order>

@{
    ViewData["Title"] = "Historia zamówień - eLibraryShop";
}

<h1>Historia zamówień</h1> <!-- History of orders-->

<table class="table ">
    <thead>
    <tr>&nbsp;</tr>
    <tr>
        <th>Id </th>
        <th>Data</th> <!-- Date -->
        <th >Wartość</th> <!-- Price -->
        <th></th>
    </tr>
    </thead>
    <tbody>
    @if (@Model.Count > 0)
    {
        @foreach (var order in Model)
        {
            <tr>
                <td>
                    @order.Id
                </td>
                <td>
                    @order.Date
                </td>
                <td>
                    @order.GrandTotal Zł
                </td>
                <td>
                    <a asp-action="OrderDetails" asp-route-id="@order.Id" >Szczegóły</a>
                </td>
            </tr>
        }
    }
    else
    {
        <tr><td><h4>Brak wykonanych zamówień</h4></td></tr> <!-- No recent orders -->

    }

    </tbody>
</table>
<a asp-action="Details">Powrót</a>
