@model IEnumerable<Page>

@{
    ViewData["Title"] = "Index";
}

<h1>Zarządzanie stronami</h1>     <!-- Manage pages -->

<p>
    <a asp-action="Create">Utwórz nową</a>
</p>
<table class="table sorting" id="pages">
    <thead>
        <tr class="home">
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="id_@item.Id" class="@item.Slug">
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Slug
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                    @if (item.Slug != "home")
                    {
                        <a class="delete"
                           asp-controller="Pages"
                           data-id="@item.Id"
                           data-controller="Pages"
                           data-action="Delete">Usuń</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script>
        $("table#pages tbody").sortable({
            items: "tr:not(.home)",
            placeholder: "ui-state-highlight",
            update: function () {
                let ids = $("table#pages tbody").sortable("serialize");
                let url = "/admin/pages/reorder"

                $.post(url, ids, function () { });
            }
        })
    </script>
}
