@model RoleEdit

@{
    ViewData["Title"] = "Edit roles";
}

<h1>Przyporządkuj funkcję</h1>

<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" name="RoleName" value="@Model.Role.Name"/>
            
            <div class="row">
                <div class="col-6">
                    <h2>Dodaj użytkowników: <span class="badge badge-primary">@Model.Role.Name</span> </h2>
                    <table class="table table-bordered">
                        @if (Model.NonMembers.Count() == 0)
                        {
                            <tr><td>Wszyscy użytkownicy należą do tej roli</td></tr> <!-- All members are in this role -->
                        }
                        else
                        {
                            foreach (AppUser user in Model.NonMembers)
                            {
                                <tr>
                                    <td>@user.UserName</td>
                                    <td>
                                        <input type="checkbox" value="@user.Id" name="AddIds" />
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
                <div class="col-6">
                    <h2>Usuń użytkowników: <span class="badge badge-primary">@Model.Role.Name</span> </h2>
                    <table class="table table-bordered">
                        @if (Model.Members.Count() == 0)
                        {
                            <tr><td>Nikt nie należy do tej roli</td></tr> <!-- No members are in this role -->
                        }
                        else
                        {
                            foreach (AppUser user in Model.Members)
                            {
                                <tr>
                                    <td>@user.UserName</td>
                                    <td>
                                        <input type="checkbox" value="@user.Id" name="DeleteIds" />
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>

            <div class="form-group" >
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
