@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Roles";
}

<h1>Zarządzanie uprawnieniami</h1> <!-- Manage roles -->

<p>
    <a asp-action="Create">Utwórz nową</a>
</p>
<table class="table ">
    <thead>
        <tr>
            <th>Id</th>
            <th>Rola</th>        <!-- Role -->
            <th>Użytkownik</th>  <!-- User -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>
                    @role.Id
                </td>
                <td>
                    @role.Name
                </td>
                <td user-role="@role.Id"></td>  <!-- Users for this role. Check RolesTagHelper.cs for more info -->
                <td>
                    <a asp-action="Edit" asp-route-id="@role.Id">Edytuj</a> |
                    <a class="delete"
                       asp-controller="Roles"
                       data-id="@role.Id"
                       data-controller="Roles"
                       data-action="Delete">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>

